/* file for your css */

body {
  background-image: url('fruitnveg.jpg');
  color: white;
}

.title-text {
  background-color: #cce0ff;
  text-shadow: 4px 4px 8px gray;
} 

.btn-success {
  background-color: #AAD023;
  border-color: #6CBA2C;
} 

.btn-success:hover {
  background-color: #FFCC00;
}

.well {
  background-color: #cccccc;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: 4px 4px 8px gray;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}